body {
    margin: 0;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

div{
    margin: 0;

}


.box{
    width: 100px;
    height: 100px;

}
.o1{
    background-color: #EF6461;
}


.o2{
    background-color: rgba(228, 179, 99,0.8);
}


.o3{
    background-color: #E8E9EB;
}


.o4{
    background-color: #aca12c;
}

.o5{
    background-color: #313638;
}
/*.o5:hover{
    opacity: 0.6;
}*/

.Zin1{
    z-index: 1;
}
.Zin2{
    z-index: 2;
}
.Zin3{
    z-index: 3;
}
.Zin4{
    z-index: 4;
}
.Zin5{
    z-index: 5;
}